body{
  background-image: url(../map.svg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}
.container{
  opacity: 0.9;
}
.card-header{
  background-color: #25A2B7;
}
h1{
  color: #fff;
  font-family: 'Lobster', cursive;
}
.card-subtitle, h3{
  font-family: 'Lobster', cursive;
}
.guessBox{
  min-height: 50px;
}
.wordBox{
  min-height: 200px;
}
.spacer{
  height: 100px;
}

.styleCard{
  margin-top: 7%;
  margin-bottom: auto;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(156,151,156,0.71);
  -moz-box-shadow: 2px 2px 5px 0px rgba(156,151,156,0.71);
  box-shadow: 2px 2px 5px 0px rgba(156,151,156,0.71);
}
.levelFloat{
  float: right;
}
#flagImg{
  width: 150px;
  height: auto;
}
#lFlagImg{
  width: 150px;
  height: auto;
}

@media only screen and (max-width: 767px) {
.levelFloat{
  float: none;
}
}
